# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env files (sauf exemples)
.env
.env.local
!.env.example
!.env.dev

# Docker
*.log

# Redis
dump.rdb

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
credentials.json
